p {color:rgb(128,128,128)}
body {font-size: 80%}
#Lastparagraph{color:orange;font-family: Arial, Helvetica, sans-serif;font-weight: bold;}
.week6paragraphs{color: navy;font-weight: bolder;background-color: beige;}
main p {color: black;font-size :24px;}